APP_PORT= # Port of Auth Service
APP_HOST= # Host of Auth Service -> Defaults to localhost during dev
APP_RELOAD=False # True during development

kEYS_DIR="keys" # RSA keys for JWT

FASTAUTH_SECRET= # FastAuth Secret
